@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Averta";
  src: url("./assets/fonts/Averta-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Averta";
  src: url("./assets/fonts/Averta-ExtraBold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .max-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
  }
}

.video-background {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.video-element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* z-index: -1; */
}

.padding-x {
  @apply lg:px-[4rem] md:px-[1.8rem] px-[0.8rem];
}
